@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Krub:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Krona One", sans-serif;
    background-color: #000000;
    color: #f6f6f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
}

button {
    font-family: "Montserrat", sans-serif; 
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #22D4FD;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #12677a;
}

.error {
    font-family: "Montserrat", sans-serif; 
    color: red;
    margin-top: 10px;
    text-align: center;
}
